<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー新規登録画面</title>
</head>
<body>
	<h1>新規登録</h1>
	<!-- エラーメッセージを表示 -->
	<span th:text="${message}" style="color: red;"></span>
	<!-- 登録フォーム -->
	<form action="/signup" method="post">
		<p>
			ユーザーネーム<br> <input type="text" name="userName">
		</p>
		<p>
			パスワード<br> <input type="text" name="password">
		</p>
		<p>
			メールアドレス<br> <input type="text" name="email">
		</p>
		<p>
			名前<br> <input type="text" name="name">
		</p>
		<p>
			住所<br> <input type="text" name="address">
		</p>
		<p>
			電話番号<br> <input type="text" name="tel">
		</p>
		<button type="submit">登録</button>
	</form>
</body>
</html>