<!-- カートに入れた商品一覧 -->

<div class="col-12">
	<div th:each="item:${items}" class="itemBox mb-30">
		<!-- 商品画像 -->
		<p><img th:src="|/image/${item.value.image}|" class="itemsImg"></p>
		
		<div class="itemBoxChild">
		<!-- 商品の名前 -->
		<p th:text="${item.value.name}" class="itemName"></p>
		<!-- 商品の値段 -->
		<p th:text="|${item.value.price}| + 円" class="itemPrice"></p>
		<!-- 商品の個数 -->
		<p th:text="|${item.value.quantity}| + 個" class="itemQuantity"></p>
		<!-- 商品の削除ボタン -->
		<p>
		<a th:href="|/cart/delete/${item.value.id}|">
		<button type="button" class="btnDeleteCart btn btn-dark">
		削除
		</button>
		</a>
		</p>
		
		</div>
	</div>

</div>
<!-- 合計金額 -->
<hr>
<div class="">
	<p class="sum" th:text="|総計:${total}円|"></p>
</div>
<hr>



