<!-- カートに入れた商品一覧 -->

<div class="col-4">
	<ul th:each="item:${items}">
		<!-- 商品画像 -->
		<li><img th:src="|/image/${item.value.image}|" class="itemsImg"></li>
		<!-- 商品の名前 -->
		<li th:text="${item.value.name}"></li>
		<!-- 商品の値段 -->
		<li th:text="|${item.value.price}| + 円"></li>
		<!-- 商品の個数 -->
		<li th:text="|${item.value.quantity}| + 個"></li>
		<!-- 商品の削除ボタン -->
		<li><a th:href="|/cart/delete/${item.value.id}|">削除</a></li>
	</ul>
</div>

<!-- 合計金額 -->
<div class="col-4">
	<p class="sum" th:text="|総計:${total}|"></p>
</div>
<hr>



